@font-face {
    font-family: SpaceGrotesk-regular;
    src: url('../../../public/assets/fonts/SpaceGrotesk-Regular.ttf')
  }
  
  @font-face {
    font-family: SpaceGrotesk-light;
    src: url('../../../public/assets/fonts/SpaceGrotesk-Light.ttf');
  }
  
  @font-face {
    font-family: SpaceGrotesk-bold;
    src: url('../../../public/assets/fonts/SpaceGrotesk-Bold.ttf');
  }


  .main {
    padding-top: 100px;
     display: flex;
     flex-direction: column;
    align-items: center;
  
     
  }
  
  .top_title {
    font-family: SpaceGrotesk-bold;
    font-size: 25px;
    font-weight: 700;
  margin-bottom: 0;
    letter-spacing: 0em;
    text-align: left;
    
  
    
  }
  
  .top_desc {
    font-family: SpaceGrotesk-light;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  width: 441.7900390625px;
  margin-top: 0px;
  
  }
  
  .discord {
    display: flex;
    
  }
  .discord {
      align-items: center;
      margin-top: 11px;
  
      border: 0.79px solid #ffffff42;
      width: 513px;
      height: 70px;
      border-radius: 11.797751426696777px;
    
  
  }

.link_btn {
    font-family: SpaceGrotesk-bold;
    font-size: 15px;
    width: 128px;
    height: 41px;
    padding: 11px 0px 11px 0px;
    border-radius: 52.616668701171875px;
    color: black;
    background-color: white;
  
    border: 1px solid #ffffff42;
  
    align-items: center;
}
.cancel_btn {
    font-family: SpaceGrotesk-bold;
    font-size: 15px;
    width: 128px;
    height: 41px;
    padding: 11px 0px 11px 0px;
    border-radius: 52.616668701171875px;
    color: white;
    background-color: black;

    border: 1px solid #ffffff42;

}
.bottom {
  margin-top: 20px;
    width: 513px;
    height: 417px;
    top: 412px;
    left: 693px;
    border-radius: 12px;
    border: 0.79px solid #FFFFFF1A;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #090909;
    align-items: center;

}

.confirmation_text {
    font-family: SpaceGrotesk-bold;
    color: #FFF;
    text-align: center;

    font-size: 22px;
    font-style: normal;
    width: 399px;
    line-height: normal;

}

.discord_profile{ 
  border-radius: 999px;
}

.b_top {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 30px ;
}

.b_mid{
  display: flex;
  margin-top: 15px;
}
.b_bottom {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-top: 10px;
}
.web3_profile {
  right: 50%

}